/*
this stylesheet is for index page only
*/

.btn-custom {
  width: 100%;
  background-color: #ffd441;
  color: #272a5c;
  border-radius: 10px;
}
.bg-theme {
  background-color: #272a5c;
  color: #f8f3b9;
  height: 1000px;
}
.introTextBold {
  font-size: x-large;
}
.overflow-x-auto {
  overflow-x: auto;
}

/* dash*/
.dash-wrapper {
  display: flex;
  background-color: #1f214a;
}
.ul-fixed {
  position: fixed;
  top: 27vh;
}
.bg-gradient-primary {
  background-color: #17193a;
  background-size: cover;
}
.sidebar {
  min-height: 100vh;
}
@media (min-width: 768px) {
  .sidebar {
    overflow: visible;
    width: 6.5rem !important;
  }
}
.align-items-start {
  align-items: flex-start !important;
}

/* dash right side */
#content-wrapper {
  background-color: #272a5c;
  width: 100%;
  overflow-x: hidden;
}
.img-profile {
  height: 2rem;
  width: 2rem;
}
.topbar {
  height: 4.375rem;
}
.topbar .navbar-search {
  width: 25rem;
}

.topbar .navbar-search input {
  font-size: 0.85rem;
}
.bg-card-theme {
  background-color: #1f214a;
  border-radius: 20px;
}
.bg-card-untheme {
  background-color: #272a5c;
}
.text-theme {
  color: #f8f3b9;
}
.text-theme-two {
  color: white;
}

/*footer*/
.mobile-bottom-nav {
  transition: 0.5s ease-in;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: 50px;
  color: #ffffff80;
  z-index: 1;
  padding-top: 5%;
  backdrop-filter: blur(10px);
}
.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-bottom-nav__item-content {
  transition: 0.5s ease;
}
.footer-icon-selected {
  color: #ffd441 !important;
  transition: 0.5s ease;
}
.img-fluid-native {
  width: 4em;
  height: 4em;
}
.text-muted-native {
  color: #8f90a5;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
.no-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.swiper {
  width: 100%;
  height: 280px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}
.abs-right {
  position: absolute;
  right: 0%;
}
.pb100vh {
  padding-bottom: 100vh;
}
.custom-input {
  background-color: #1f214a;
  border: 0px;
}
.custom-input:hover {
  background-color: #1f214a !important;
  color: #f8f3b9;
}
.custom-input:focus:focus {
  background-color: #1f214a !important;
  color: #f8f3b9;
}
.custom-input:focus:active {
  background-color: #1f214a !important;
  color: #f8f3b9;
}
.cursor-pointer {
  cursor: pointer;
}
.cardFixed {
  transition: 0.5s ease;
  position: fixed;
  width: 100%;
  left: 0%;
  top: 0%;
  height: 100%;
  z-index: 2;
}
.close-card {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 1%;
  cursor: pointer;
  z-index: 3;
}

.mobile-view-profile {
  transition: transform 0.4s linear;
  position: fixed;
  transform: translateX(75%);
  top: 8%;
  bottom: 8%;
  border-radius: 25px;
}
.left-profile-screen {
  position: fixed;
  height: 100%;
  background-color: #1f214a;
  right: 0%;
}
@media (min-width: 768px) {
  .mobile-view-profile {
    transform: translateX(50%);
    top: 0%;
    bottom: 0%;
  }
  .left-profile-screen {
    left: 6.5rem;
  }
}
