/*
this stylesheet is for index page only
*/

.btn-custom{
  width:100%;
  background-color: #ffd441;
  color: #272a5c;
  border-radius: 10px;
}
.bg-theme{
  background-color: #272a5c;
  color: #f8f3b9;
  height: 1000px;
}
.introTextBold{
  font-size: x-large;
}
.overflow-x-auto{
  overflow-x: auto;
}

/* dash*/
.dash-wrapper{
  display: flex;
}
.ul-fixed{
  position: fixed;
  top: 27vh;
}
.bg-gradient-primary {
  background-color: #17193a;
  background-size: cover;
}
.sidebar{
  min-height: 100vh;
}
@media (min-width: 768px){
  .sidebar {
    overflow: visible;
    width: 6.5rem!important;
  }
}
.align-items-start {
  align-items: flex-start!important;
}

/* dash right side */
#content-wrapper {
  background-color: #272a5c;
  width: 100%;
  overflow-x: hidden;
}
.img-profile{
  height: 2rem;
  width: 2rem;
}
.topbar {
  height: 4.375rem;
}
.topbar .navbar-search {
  width: 25rem;
}

.topbar .navbar-search input {
  font-size: .85rem;
}
.bg-card-theme{
  background-color: #1f214a;
  color:white;
  border-radius: 20px;
}
.text-theme{
  color:#f8f3b9;
}
.text-theme-two{
  color:white;
}

/*footer*/
.mobile-bottom-nav {
  transition: .5s ease-in;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: 50px;
  color:#ffffff80;
  z-index: 1;
  padding-top:5%;
}
.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-bottom-nav__item-content{
  transition: .5s ease;
}
.footer-icon-selected{
  color:#ffd441 !important;
  transition: .5s ease;
}
.img-fluid-native{
  width:4em;
  height: 4em;
}
.text-muted-native{
  color:#8f90a5;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
.no-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.swiper {
  width: 100%;
  height: 280px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}